<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2f2f2f; color: #adff2f ;"> 
  <div class="container-fluid">

  <%= image_tag("55455255.jpg",  width: 60, height: 60) %>
    <%= link_to(root_path, class: "navbar-brand", style: "margin-right: auto; color: #D3FFA8;") do %>  FAITH OKOSUN 
<% end %>

      

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav ml-auto">
        <%= link_to 'Home', root_path, class: 'nav-link', style: 'color: #FFFFFF;' %>

    <%= link_to 'About', about_path, class: 'nav-link', style: 'color: #FFFFFF;' %>
    <%= link_to 'Skills', skills_path, class: 'nav-link', style: 'color: #FFFFFF;' %>
     <a class="nav-link" href="#" style="color: #FFFFFF;">Projects</a>
        <a class="nav-link" href="#" style="color: #FFFFFF;">Contact</a> 
       
        
    </div>
  </div>
</nav>
