<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Portfolio</title>
  <style>
     
    body {
      background-color: #2f4f4f; /* Dark Grey */
      color: #2f4f4f; /* Yellow-Green */
    }

    .jumbotron {

      background-color: #adff2f; /* Yellow-Green */
      color: #2f4f4f; /* Dark Grey */
      padding: 100px 20px;
      text-align: center;
    }

    .section {
      background-color: #2f4f4f; /* Dark Grey */
      color: #adff2f; /* Yellow-Green */
      padding: 50px 20px;
      text-align: center;
    }

    .section h2 {
      color: #ffffff; /* White */
    }

    .card {
      background-color: #adff2f; /* Yellow-Green */
      color: #2f4f4f; /* Dark Grey */
    }

    .btn-dark {
      background-color: #2f4f4f; /* Dark Grey */
      color: #adff2f; /* Yellow-Green */
    }

    .btn-dark:hover {
      background-color: #556b2f; /* Dark Olive Green on hover */
      color: #adff2f; /* Yellow-Green on hover */
    }
     .animated-text {
      animation: fadeInAnimation 2s ease-in-out;
    }

    @keyframes fadeInAnimation {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
     .lead {
      color: #fff; /* White */
      cursor: pointer;
      display: inline-block;
      padding: 10px 20px;
      background-color: #556b2f; /* Dark Olive Green */
      border-radius: 5px;
      margin-top: 30px;
      transition: background-color 0.3s;
      text-decoration: none; /* Remove underline from the link */
    }
  .lead:hover {
      background-color: #8fbc8f; /* Dark Sea Green on hover */
    }
    ul.list-unstyled {
  padding: 0;
}

li.mb-4 {
  margin-bottom: 1rem; /* Adjust the margin as needed */
}
section.text-center {
  margin-top: 30px;
  margin-bottom: 30px;
  background: linear-gradient(to bottom, #adff2f, #556b2f);
  padding: 20px;
  border-radius: 10px;
  color: #ffffff; 
}

ul.list-unstyled {
  padding: 0;
}

li.mb-4 {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  border: 3px solid #556b2f; /* Add a white border around each skill box */
  border-radius: 10px; /* Add rounded corners to the skill boxes */
  max-width: 200px;
  margin: 0 auto; 
  padding: 5px; /* Add padding inside each skill box */
}

li.mb-4 img {
  margin-bottom: 10px;
}




  </style>
</head>
<body>

  <div class="jumbotron">
    <div class="container">
     <h1 class="display-4 animated-text">
    Hi, i'm <%= link_to "Faith Okosun", about_path %> Turning code into meaningful experiences, one project at a time.
    </h1>
     <!--  <p class="lead">Software Developer</p> -->

       <p class="lead"> <%= link_to 'Contact', contacts_path %></p>


    </div>
  </div>

  <div class="section" id="portfolio">
    <div class="container">
      <h2 class="display-4 mb-5">Portfolio</h2>
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="your_image_url.jpg" class="card-img-top" alt="Project 1">
            <div class="card-body">
              <h5 class="card-title">Project 1</h5>
              <p class="card-text">Description of the project.</p>
              <a href="#" class="btn btn-dark">Learn More</a>
            </div>
          </div>
         </div>
           <div class="col-md-4 mb-4">
          <div class="card">
            <img src="your_image_url.jpg" class="card-img-top" alt="Project 1">
            <div class="card-body">
              <h5 class="card-title">Project 1</h5>
              <p class="card-text">Description of the project.</p>
              <a href="#" class="btn btn-dark">Learn More</a>
            </div>
          </div>
         </div>

            <div class="col-md-4 mb-4">
          <div class="card">
            <img src="your_image_url.jpg" class="card-img-top" alt="Project 1">
            <div class="card-body">
              <h5 class="card-title">Project 1</h5>
              <p class="card-text">Description of the project.</p>
              <a href="#" class="btn btn-dark">Learn More</a>
            </div>
          </div>
         </div>



      </div>
    </div>
  </div>

  

 <section class="text-center">
  <h1>My Skills</h1>
  <ul class="list-unstyled">
    <li class="mb-4">
      <%= image_tag("Java-Logo.png", alt: "Java Logo", width: 50, height: 50) %>
      <p>Java</p>
    </li>
    <li class="mb-4">
      <%= image_tag("github.png", alt: "JavaScript Logo", width: 50, height: 50) %>
      <p>JavaScript</p>
    </li>
    <li class="mb-4">
      <%= image_tag("html.png", alt: "HTML Logo", width: 50, height: 50) %>
      <p>HTML</p>
    </li>
    <li class="mb-4">
      <%= image_tag("css.png", alt: "CSS Logo", width: 50, height: 50) %>
      <p>CSS</p>
    </li>
    <li class="mb-4">
      <%= image_tag("Bootstrap.png", alt: "Bootstrap Logo", width: 50, height: 50) %>
      <p>Bootstrap</p>
    </li>
    <li class="mb-4">
      <%= image_tag("ror.png", alt: "Ruby on Rails Logo", width: 50, height: 50) %>
      <p>Ruby on Rails</p>
    </li>
  </ul>
</section>



  <footer class="bg-dark text-white text-center py-3">
    <div class="container">
      <p>&copy; 2023 faith. All rights reserved.</p>

    </div>

<div class="social-media-links">
  
  <a href="https://www.linkedin.com/in/faith-onowome-okosun/" target="_blank">
    <%= image_tag("linkdin.png", alt: "LinkedIn", width: 30, height: 30) %>
  </a>
  <a href="https://https://twitter.com/phayteeee" target="_blank">
    <%= image_tag("X.png", alt: "Twitter", width: 30, height: 30) %>
  </a>
  <a href="https://github.com/FAITHOKOSUN" target="_blank">
    <%= image_tag("github.png", alt: "GitHub", width: 30, height: 30) %>
  </a>
</div>

  </footer>

  
</body>
</html>
